@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
header{
    position: fixed;
    border-bottom: 1px solid black;
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
nav > div{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.PlaceHolder{
    position: fixed;
    left: 33%;
    top: 5px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15pt;
}
.PlaceHolder a, .ModaNav a{
    text-decoration: none;
    color: black;
}
.ModaNav{
    color: rgb(3, 3, 3);
    display: block;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    position: fixed;
    transform: rotate(350deg);
    top: 20px;
    left: 42%;
    font-size: 12pt;
}
.MenuE{
    position: fixed;
    left: 10px;
    top: 10px;
}
.MenuE:hover{
    cursor: pointer;
}
.MenuL{
    position: fixed;
    right: 10px;
    top: 10px;
}
/*Loja*/
.ImgLoja{
    margin-top: 11%;
    width: 100%;
    border-bottom: 1px solid black;
}
.TitleLoja{
    font-family: 'Oswald', sans-serif;
}
.SobreCollection{
    color: rgb(148, 148, 148);
    font-size: 10pt;
    text-align: left;
}
.Loja{
    height: 100%;
    margin-top: 4%;
}
.Loja img{
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 1%;
}
.Loja img:hover{
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}
.Loja > div > div{
    height: 50px;
    display: flex;
}
.Loja p{
    margin: auto;
}
/*Buy Product*/
#BuyP img{
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#BuyP div{
    display: flex;
}
.infos{
    margin: auto;
    font-size: 12pt;
}
input{
    display: block;
    margin: 4% auto 4% auto;
    height: 30px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 0;
}
.Extras{
    margin-left: 2%;
    font-size: 10pt;
    color: rgb(131, 131, 131);
}
#BackButton:hover{
    cursor: pointer;
}
#BackButton{
    color: black;
    font-weight: 900;
    font-size: 12pt;
    text-align: center;
    margin-top: 2%;
}
#BuyP{
    display: none;
}
/*Carrinho*/
#Carrinho{
    display: none;
    position: fixed;
    background-color: rgb(253, 253, 253);
    height: 430px;
    width: 230px;
    z-index: 2;
    top: 0;
    border-radius: 0px 0px 10px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#Carrinho p{
    position: relative;
    text-align: center;
    top: 5px;
}
#InsideCart h3{
    margin-top: 25%;
    text-align: center;
}
#InsideCart{
    height: 370px;
    overflow: auto;
    border-bottom: 1px solid black;
}
#InsideCart hr{
    margin-top: 4%;
}
.ButtonBuy{
    border-radius: 20px;
}
/*Pop Up*/
#PopUp{
    display: none;
    height: 100px;
    width: 200px;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
}
#PopUp p{
    display: block;
    margin-top: 14%;
    text-align: center;
}
/*Footer*/
footer{
    background-color: black;
    color: gray;
    font-size: 10pt;
}
footer p{
    margin-top: 2%;
}
.copy{
    margin-top: 2%;
    text-align: center;
}
.pTop{
    padding-top: 2%;
}