@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: black;
}
header{
    background-image: url(backgroundcell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
/*Header, Nav*/
nav > div{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.PlaceHolder{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15pt;
}
.ModaNav{
    color: aliceblue;
    display: block;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    position: relative;
    transform: rotate(350deg);
    top: -10px;
    font-size: 12pt;
}
.Menu{
    margin: 2% 2% 0% 2%;
    font-size: 11pt;
}
.Menu a{
    text-decoration: none;
    color: aliceblue;
}
/*Corpo*/
.Frase{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    position: relative;
    top: 200px;
    margin-left: 2%;
}
/*Loja*/
.Loja{
    height: 99%;
}
.Loja img{
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.Loja p{
    position: absolute;
    user-select: none;
}
.Left{
    left: 0;
    font-size: 40pt;
    color: rgba(128, 128, 128, 0.486);
    bottom: 0;
    bottom: -350px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
}
.Right{
    right: 0;
    font-size: 40pt;
    color: rgba(128, 128, 128, 0.486);
    bottom: -350px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
}
.Right:hover, .Left:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.301);
    color: aliceblue;
    border-radius: 10px;
    transition: 0.5s;
}
/*Footer*/
footer{
    background-color: black;
    color: gray;
    font-size: 10pt;
}
footer p{
    margin-top: 2%;
}
.copy{
    margin-top: 2%;
    text-align: center;
}
.pTop{
    padding-top: 2%;
}